<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation_bar.ejs') %>
    <% if (quizzes.length > 0) { %>
        <div class="grid">
            <% for (let quiz of quizzes) { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title">Question: <%= quiz.question %></h1>
                </header>
                <div class="card__content">
                    <h2 class="product__price">Correct Answer: <%= quiz.correctAnswer %></h2>
                    <br>
                    <p class="product__description"><%= quiz.answers[0] %></p>
                    <p class="product__description"><%= quiz.answers[1] %></p>
                    <p class="product__description"><%= quiz.answers[2] %></p>
                    <p class="product__description"><%= quiz.answers[3] %></p>
                    <br>
                    <h2 class="product__description">Quiz type: <%= quiz.quizType %></p>
                </div>
                <div class="card__actions">
                    <form class="product-form" action="/v1/quiz/deleteQuizButton" method="post">
                        <input type="hidden" name="quizId" value="<%= quiz._id %>">
                        <button class="btn" type="submit">Delete</button>
                    </form>
                </div>
            </article>
            <% } %>
        </div>
        <% } else { %>
        <div>
            <h1>No quizzes found.</h1>
        </div>
        <% } %>
</body>
</html>